/* web font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --dark-color: #000000;
  --body-font-family: "Poppins", sans-serif;
  --blue: rgb(34, 56, 87);
  --darkgreen: rgb(22, 92, 90);
  --green: rgb(4, 169, 165);
  --darkyellow: rgb(250, 157, 2);
  --yellow: rgb(240, 191, 0);
}

* {
  padding: 0px;
  margin: 0px;
}

body,
button,
input,
select,
textarea {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

a,
button,
input {
  font-weight: 600;
}

section {
  padding: 55px 80px;
}


img {
  width: 100%;
  position: relative;
}

.title, .daftar {
  background-color: var(--darkyellow);
  padding: 20px 80px;
}

.daftar .underline {
  font-size: 19px !important;
  color: var(--dark-color);
  text-decoration: none;
  letter-spacing: 0.05em;
  position: relative;
  font-weight: 700;
}

.title p{
  font-size: 18px !important;
  color: var(--dark-color);
  font-weight: 600;
}

.daftar .underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--dark-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.daftar .underline:hover:after {
  width: 100%;
  left: 0;
}

.title .text-title, .daftar .text-title {
  width: 100%;
}

/* bg */
.bg{
  background-color: #f6f6f6;
}
/* Banner */

.banner {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.banner-img{
  position: absolute;
  background-image: url("../img/banner.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  
}

.banner-text {
  position: absolute;
  z-index: 9;
  top: 30%;
  left: 10%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
}

.banner-text h1 {
  font-size: 45px !important;
  font-weight: 600;
}

.banner-text h1::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 78%;
  bottom: -25px;
  height: 3px;
  width: 60px;
  background: var(--darkyellow);
}

.banner-text h1 span {
  font-weight: 700;
}

.banner-text p{
  font-size: 20px;
  margin: 50px 0px 0px;
  text-transform: capitalize;
}

.overlay {
  background: linear-gradient(45deg,rgb(4, 169, 165), rgb(22, 92, 90));
  opacity: 80%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* NAVBAR */
.shadow-lg {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.175) !important;
}

.navbar {
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 9;
  background-color: white;
}

.navbar-brand {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 500;
}

.navbar-nav .nav-link {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link::after {
  color: var(--dark-color);
  opacity: 1;
  transform: translateY(0px);
}

.navbar-nav .nav-item.active .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: var(--dark-color);
  background-color: rgb(248, 179, 13);
  border-radius: 5px;
  padding: 8px;
}

.nav-link:focus {
  color: var(--dark-color);
}

/* BIO */
.bio .container-img {
  order: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.bio .container-img > * {
  position: absolute;
}

.bio .primary-img {
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: center;
}

.bio .primary-img img {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: rgb(50 50 93 / 40%) 25px 25px 60px -25px;
}

.bio .container-text {
  order: 0;
  position: relative;
  height: 210px;
  display: flex;
  align-items: center;
}

.bio .container-text > * {
  position: absolute;
}

.bio .container-text img {
  top: 0;
  left: 50px;
  height: 70px;
}

.bio .text {
  top: 0;
  left: 0;
  font-family: inherit;
  font-weight: 300;
  margin-right: -100px;
}

.bio .text .salam {
  font-size: 25px;
  font-weight: 500;
}

.bio .text .intro {
  font-size: 18px;
  font-weight: 300;
}

.bio .curve {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
}

.bio .personal-info {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  bottom: 0;
  left: 0;
}

.bio #name {
  font-size: 18px;
  color: hsl(240, 38%, 20%);
  font-weight: 700;
  margin-right: 12px;
}

.bio #job {
  font-size: 18px;
  color: hsl(240, 18%, 77%);
}


/* IMPIAN dan BUKAN IMPIAN */
section.impian{
  padding-bottom: 35px !important;
}

section.bukan-impian{
  padding-top: 10px !important;
}

.impian h2, .bukan-impian h2, .andai h2{
  font-weight: 500 !important;
  font-size: 1.7rem !important;
}
.impian .list, .bukan-impian .list, .andai .list{
  font-size: 18px;
}

.impian .img-fluid, .bukan-impian .img-fluid, .andai .img-fluid{
  max-width: 75% !important;
}

.impian .list .d-inline-flex, .bukan-impian .list .d-inline-flex, .andai .list .d-inline-flex{
  margin-bottom: 10px;
}

.bukan-impian .text{
  margin-top: 18px;
}

.andai{
  background-color: #F6F6F6;
}


/* QUOTE */
section.quote{
  background-color: var(--darkgreen);
  padding: 25px 80px;
  min-height: 60vh;
}
.single-item{
  width: 70%;
	margin: 30px auto;
}
.bubble blockquote {
	margin: 10px 10px 10px;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 25px;
	color: #000;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #000;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble .cite {
	font-size: .9em;
  font-style: italic;
}

/* Tentang Kami */
section.about{
  background-color: var(--darkgreen);
  padding: 100px 80px;
}

.card {
  margin: auto;
  width: 85%;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
}

.card .card-body {
  padding: 15px;
}

.card .card-body .items-about {
  align-items: center;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f3;
}

.card .card-body .items-about .items-menu {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  list-style: none;
}

.card .card-body .items-about .items-menu a {
  display: block;
  padding: 10px 0px;
  color: var(--darkgreen);
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.15s ease-in-out;
}

.card .card-body .items-about .items-menu a.active {
  color: #fff;
  background-color: var(--darkgreen);
}


.card .card-body .items-about .items-menu a span.text {
  display: block;
}

.card .tab-content {
  padding: 16px;
}

.card .tab-content .tab-pane {
  display: none;
}

.card .tab-content .tab-pane.active {
  display: block;
}

/* Slider About */
.carousel-wrap {
  margin: 20px auto;
  width: 100%;
  padding: 0 10px;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
}

/* end fix */

/* PRODUK */
.produk{
  max-width: 100%;
}
.produk-list{
  background-color: #fff;
}
.produk-list p{
  font-size: 16px;
}

.yBoxImgZoom img{
  background-color: white;
}
.yBoxFrame{
  max-width: calc(30% - 10px);
  background: white;
}
.yBoxImgZoom {
  background: #fff;
}
.closeYbox{
  width: 30px;
  height: 30px;
}
.closeYbox::after, .closeYbox::before{
  width: 18px;
  left: 6px;
  top: 14px;
}

/* CARA KERJA */
section.cara{
  color: #f6f6f6;
  background-color: var(--darkgreen);
}
.cara .main-bg {
  max-width: 60%;
  display: flex;
  background-color: var(--darkyellow);
  box-shadow: 15px 15px 45px 0px rgb(0 0 0 / 30%);
  border-radius: 7px;
}

.cara .list {
  padding: 25px 30px;
}

.cara .title-text{
  margin-bottom: 25px;
}

.cara .list li {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.cara .note p{
  font-size: 16px;
}

.cara .download p{
  font-size: 18px;
  font-weight: 500;
}

.cara .download button{
  background-color: var(--darkyellow);
  color: #000;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  border: transparent;
  font-weight: 700;
}

/* Disclaimer and Promosi*/

.disclaimer .row > * {
  padding: 0px;
}
.disclaimer .main-bg,.promosi .main-bg1, .promosi .main-bg2 {
  max-width: 60%;
  display: flex;
  background-color: var(--darkgreen);
  box-shadow: 8px 8px 45px 0px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.container-text {
  padding: 25px 30px;
}

.disclaimer .title-text{
  margin-bottom: 30px;
}

.disclaimer .container-text p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

/* Promosi */

.promosi .main-bg1, .promosi .main-bg2 {
  max-width: 70%;
  margin: 40px 0px;
}

.promosi .main-bg2{
  margin-bottom: 20px;
}

.fa-ul{
  margin: 0px;
}

.promosi li{
  font-size: 18px;
  color: #fff;
}

.promosi .text1{
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
}

.promosi .text2{
  margin-top: 30px;
}

.promosi .text2 span{
  font-weight: 600;
}

.promosi .text3{
  font-weight: 600;
  margin-top: 30px;
  font-size: 22px;
}

.promosi p{
  font-size: 18px;
}

.promosi li{
  display: flex;
}
.promosi i{
  margin-right: 10px;
}

/* FAQ */

.faq .accordion {
  max-width: 65%;
}
.accordion-button {
  font-size: 18px;
}
.accordion-button:not(.collapsed) {
  color: var(--darkgreen);
  background-color: rgb(244, 255, 255);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* FOOTER */
.footer-section {
  background: #151414;
  position: relative;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 10px;
}
.footer-logo img {
    max-width: 140px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.instagram-bg{
  background: #DD4B39;
}
.linkedin-bg{
  background: #55ACEE;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul{
  padding: 0px;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
  color: #7e7e7e;
}
fieldset {
	border: medium none !important;
	margin: 0 0 5px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#151414;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button {
	cursor:pointer;
	width:100%;
	border:none;
	background:var(--darkgreen);
	color:#FFF;
	margin:0 0 5px;
	padding:5px;
	font-size:15px;
}

#contact button:hover {
	background:var(--green);
	transition:background-color 0.3s ease-in-out;
}

.footer-content p{
  color: #7e7e7e;
}


/* TABLET */
@media screen and (max-width: 800px) {
  h4 {
    font-size: 1.5rem !important;
  }
  .mb-2, .mb-3, .mb-4, .mb-5{
    margin-bottom: unset !important;
  }
  .mt-3, .mt-4, .mt-5{
    margin-top: unset !important;
  }
  .ms-3{
    margin-left: unset !important;
  }

  /* BANNER */
  .banner {
    position: relative;
    overflow: hidden;
    min-height: unset;
    padding-bottom: 75%;
  }
  .banner-text {
    top: 13%;
    left: 8%;
  }
  .banner-text h1 {
    font-size: 55px !important;
  }
  .banner-text h1::before {
    top: 82%;
  }
  .banner-text p {
    font-size: 22px;
  }

  section{
    padding: 50px 40px;
  }
  
  /* BIO */
  section.bio {
    padding: 60px 80px;
  }
  section.bio .row{
    flex-direction: column-reverse;
  }
  .bio .text{
    margin-right: unset;
  }
  .bio .col-md-6 {
    width: 100%;
  }
  .bio .primary-img {
    width: 330px;
    height: 330px;
  }
  .bio .container-text {
    margin-top: 40px;
  }
  .bio .text .salam {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .bio .text .intro {
    font-size: 18px;
    line-height: 28px;
  }
  .bio #name, .bio #job {
    font-size: 20px;
  }

  /*  */
  .daftar .underline {
    font-size: 18px !important;
  }
  .title, .daftar {
    padding: 10px 80px;
  }

  /* IMPIAN */
  .impian .img-fluid, .bukan-impian .img-fluid, .andai .img-fluid {
    max-width: 65% !important;
  }
  section.impian .p{
    margin-top: -40px;
  }
  .impian .list, .bukan-impian .list, .andai .list{
    font-size: 18px;
  }
  .impian p, .bukan-impian p, .andai p {
    margin-left: 10px;
    line-height: 20px;
  }

  section.bukan-impian {
    padding-top: 0px !important;
  }
  section.bukan-impian h4{
    font-size: 14px !important;
    margin-bottom: 20px;
    line-height: 20px;
  }

  .title {
    padding: 25px 30px;
  }
  .title p{
    font-size: 18px !important;
  }

  /* QUOTES */
  section.quote {
    padding: 10px;
    min-height: 40vh;
  }
  section.quote h4{
    margin-top: 20px;
  }
  .single-item {
    width: 85%;
    margin: 20px auto;
  }
  .bubble blockquote {
    margin: 0px 10px 10px;
    padding: 30px 45px;
    font-size: 18px;
    line-height: 28px;
  }
  .bubble blockquote:before, .bubble blockquote:after {
    font-size: 60px;
    padding: 5px;
  }
  .bubble blockquote:before {
    left: 5px;
  }
  .bubble blockquote:after {
    right: 5px;
  }
  .bubble .cite {
    font-size: 1.2em;
  }

  /* PRODUK */
  .produk {
    max-width: 100%;
    margin: 0px auto;
  }
  .produk-list p {
    font-size: 16px;
    line-height: 17px;
  } 
  .closeYbox::after, .closeYbox::before {
    width: 20px;
    left: 5.5px;
    top: 14px;
  }
  .closeYbox {
    width: 30px;
    height: 30px;
  }
  .yBoxFrame.yBoxIframeWrap, .yBoxFrame.yBoxImgWrap {
    height: calc(70vh - 80px);
  }
  .yBoxFrame.yBoxIframeWrap .insertYboxAjaxHere, .yBoxFrame.yBoxImgWrap .insertYboxAjaxHere {
    height: calc(70vh - 80px);
    overflow: hidden;
  }
  .yBoxFrame {
    max-width: calc(56% - 10px);
  }

  /* CARA */
  .cara .list {
    padding: 25px;
  }
  .cara .title-text {
    margin-bottom: 18px;
  }
  .cara .main-bg{
    max-width: 85%;
  }
  .cara .list ol{
    padding-left: 1rem;
  }
  .cara .list li {
    font-size: 18px;
    line-height: 40px;
  }
  .cara .list li p {
    line-height: 26px;
    margin-left: 5px;
  }
  .cara .download p {
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .cara .download button {
    font-size: 16px;
    padding: 12px 20px;
    margin: 0px auto;
  }
  .cara .download .note{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  /* DISCLAIMER */
  .disclaimer .main-bg, .promosi .main-bg1, .promosi .main-bg2 {
    max-width: 80%;
  }
  .disclaimer .title-text {
    margin-bottom: 20px;
  }
  .disclaimer .container-text {
    padding: 25px 30px;
  }
  .disclaimer .container-text p {
    font-size: 18px;
  }

  .promosi .text1 {
    margin-top: 60px;
    font-size: 18px;
  }
  .promosi .main-bg1, .promosi .main-bg2 {
    max-width: 88%;
    margin: 25px 0px;
    padding: 0px;
  } 
  .promosi .container-text {
    padding: 25px 30px;
  }
  .promosi li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: unset;
  }
  .promosi .text2 {
    margin-top: 15px;
    font-size: 1Zpx;
  }
  .promosi p{
    font-size: 18px;
    line-height: 28px;
  }
  .promosi .text3 {
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .promosi .desc-title {
    font-size: 1Zpx;
  }

  /* ABOUT */
  section.about {
    padding: 35px 5px;
  }
  .about .items-menu span{
    font-size: 16px;
  }
  .card .card-body {
    padding: 10px 5px;
  }
  .card .card-body .items-about {
    overflow: scroll;
    white-space: nowrap;
    flex-flow: row;
  }
  .card {
    width: 100%;
    border-radius: 5px;
  }
  .card .card-body .items-about .items-menu a {
    padding: 15px;
  }
  .card .img-fluid {
    max-width: 95%;
    margin: 0px auto;
  }
  .card .tab-content {
    padding: 0px 16px;
  }
  .mfp-image-holder .mfp-content {
    max-width: 65%;
  }

  /* FAQ */
  section.faq{
    padding: 60px 15px;
  }
  .faq .accordion {
    max-width: 100%;
    margin-top: 20px;
  }
  section.faq h3 {
    font-size: calc(1.4rem + .6vw);
  }
  .accordion-button {
    font-size: 18px;
    line-height: 20px;
    padding: 1rem .5rem;
  }
  .faq .accordion {
    margin-top: 10px;
  }
  .accordion-button::after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  .accordion-body {
    font-size: 18px;
  }
  .accordion-body {
    padding: 0.6rem 1rem;
  }

  /* FOOTER */
  .footer-logo img {
    max-width: 180px;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-content {
    padding: 0px 10px;
  }
  .footer-widget-heading h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .footer-widget-heading h3::before {
    bottom: -14px;
    width: 40px;
  }
  .footer-text p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .footer-section h6{
    font-size: 1.2rem;
  }
  .footer-content p{
    font-size: 16px;
    margin-top: 15px;
  }
  .footer-social-icon a {
    font-size: 25px;
    margin-right: 5px;
  }
  .footer-social-icon i {
    width: 45px;
    height: 45px;
    line-height: 43px;
  }
  .footer-widget .email-form{
    margin-top: 10px;
  }
  .footer-widget .email-form input{
    font-size: 16px;
  }
  #contact button {
    font-size: 16px;
  }

}

/* MOBILES */
@media screen and (max-width: 480px) {
  
  section{
    padding: 35px 15px;
  }
  .banner {
    min-height: 50vh;
  }
  .banner-text {
    padding: 45px 30px 0px;
    top: unset;
    left: unset;
    width: 100%;
  }
  .banner-text h1 {
    font-size: 32px !important;
  }
  .banner-text h1::before {
    /* content: unset; */
    top: 74%;
    left: 8%;
    width: 50px;
  }
  .banner-text p {
    font-size: 16px;
    margin: 30px 0px 0px;
  }

  /* BIO */
  section.bio{
    padding: 25px 15px;
  }
  .bio .container-img {
    height: 250px;
  }
  .bio .primary-img {
    width: 180px;
    height: 180px;
  }
  .bio .text {
    left: 25px;
  }
  .bio .col-md-6 {
    width: 95%;
  }
  

  .bio .container-text {
    margin-top: 5px;
    height: 175px;
  }
  
  .bio .text .salam {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .bio .text .intro {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px !important;
  }
  .bio .text .personal-info {
    margin-top: 10px;
    justify-content: left;
  }
  .bio #name {
    font-size: 14px;
    margin-right: 6px;
  }
  .bio #job{
    font-size: 14px;
  }

  .daftar .underline {
    font-size: 14px !important;
  }
  .title, .daftar {
    padding: 10px 80px;
  }

  /* IMPIAN */
  .impian .img-fluid, .bukan-impian .img-fluid, .andai .img-fluid {
    max-width: 100% !important;
  }
  section.impian h4{
    font-size: .9rem !important;
  }
  section.impian .p{
    margin-top: -40px;
  }
  .impian .list, .bukan-impian .list, .andai .list{
    font-size: 14px;
  }
  .impian p, .bukan-impian p, .andai p {
    margin-left: 5px;
    line-height: 20px;
  }

  section.bukan-impian {
    padding-top: 0px !important;
  }
  section.bukan-impian h4{
    font-size: 14px !important;
    margin-bottom: 20px;
    line-height: 20px;
  }

  .title {
    padding: 20px;
  }
  .title p{
    font-size: 14px !important;
  }

  /* QUOTES */
  section.quote {
    padding: 10px;
    min-height: 35vh;
  }
  section.quote h4{
    margin-top: 20px;
  }
  .single-item {
    width: 100%;
    margin: 20px auto;
  }
  .bubble blockquote {
    margin: 0px 10px 10px;
    padding: 30px;
    font-size: 14px;
    line-height: 17px;
  }
  .bubble blockquote:before, .bubble blockquote:after {
    font-size: 40px;
    padding: 5px;
  }
  .bubble blockquote:before {
    left: 5px;
  }
  .bubble blockquote:after {
    right: 5px;
  }

  /* PRODUK */
  .produk {
    max-width: 60%;
    margin: 0px auto;
  }
  .produk-list p {
    font-size: 12px;
    line-height: 17px;
  } 
  .closeYbox::after, .closeYbox::before {
    width: 15px;
    left: 4px;
    top: 10px;
  }
  .closeYbox {
    width: 22px;
    height: 22px;
  } 
  .yBoxFrame.yBoxIframeWrap, .yBoxFrame.yBoxImgWrap {
    height: calc(55vh - 80px);
  }
  .yBoxFrame.yBoxIframeWrap .insertYboxAjaxHere, .yBoxFrame.yBoxImgWrap .insertYboxAjaxHere {
    height: calc(55vh - 80px);
  }
  .yBoxFrame {
    max-width: calc(80% - 10px);
  }

  /* CARA */
  .cara .list {
    padding: 15px 10px;
  }
  .cara .title-text {
    margin-bottom: 18px;
  }
  .cara .main-bg{
    max-width: 90%;
  }
  .cara .list ol{
    padding-left: .5rem;
  }
  .cara .list li {
    font-size: 14px;
    line-height: 35px;
  }
  .cara .list li p{
    line-height: 20px;
    margin-left: 5px;
  }
  .cara .download p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .cara .download button {
    font-size: 14px;
    padding: 5px 20px;
    margin: 0px auto;
  }
  .cara .download .note{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 11px;
  }

  /* DISCLAIMER */
  .disclaimer .main-bg, .promosi .main-bg1, .promosi .main-bg2 {
    max-width: 90%;
  }
  .disclaimer .title-text {
    margin-bottom: 20px;
  }
  .disclaimer .container-text {
    padding: 15px;
  }
  .disclaimer .container-text p {
    font-size: 14px;
  }

  .promosi .text1 {
    margin-top: 45px;
    font-size: 14px;
  }
  .promosi .main-bg1, .promosi .main-bg2 {
    max-width: 100%;
    margin: 25px 0px;
    padding: 0px;
  } 
  .promosi .container-text {
    padding: 20px;
  }
  .promosi li {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: unset;
  }
  .promosi .text2 {
    margin-top: 15px;
    font-size: 1Zpx;
  }
  .promosi p{
    font-size: 14px;
    line-height: 20px;
  }
  .promosi .text3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .promosi .desc-title {
    font-size: 1Zpx;
  }

  /* ABOUT */
  section.about {
    padding: 35px 5px;
  }
  .about .items-menu span{
    font-size: 12px;
  }
  .card .card-body {
    padding: 10px 5px;
  }
  .card .card-body .items-about {
    overflow: scroll;
    white-space: nowrap;
    flex-flow: row;
  }
  .card {
    width: 100%;
    border-radius: 5px;
  }
  .card .card-body .items-about .items-menu a {
    padding: 5px 10px;
  }
  .card .img-fluid {
    max-width: 85%;
    margin: 0px auto;
  }
  .card .tab-content {
    padding: 0px 16px;
  }
  .mfp-image-holder .mfp-content {
    max-width: 65%;
  }

  /* FAQ */
  section.faq{
    padding: 40px 15px;
  }
  .faq .accordion {
    max-width: 100%;
    margin-top: 20px;
  }
  section.faq h3 {
    font-size: calc(.9rem + .6vw);
  }
  .accordion-button {
    font-size: 14px;
    line-height: 20px;
    padding: 1rem .5rem;
  }
  .faq .accordion {
    margin-top: 10px;
  }
  .accordion-button::after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  .accordion-body {
    font-size: 14px;
  }
  .accordion-body {
    padding: 0.6rem 1rem;
  }

  /* FOOTER */
  .footer-logo img {
    max-width: 140px;
  }
  .footer-content {
    padding: 0px 10px;
  }
  .footer-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-widget-heading h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .footer-widget-heading h3::before {
    bottom: -14px;
    width: 40px;
  }
  .footer-section h6{
    font-size: .9rem;
  }
  .footer-content p{
    font-size: 12px;
  }
  .footer-social-icon a {
    font-size: 16px;
    margin-right: 5px;
  }
  .footer-social-icon i {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .footer-widget .email-form{
    margin-top: 10px;
  }
  .footer-widget .email-form input{
    font-size: 14px;
  }
  #contact button {
    font-size: 14px;
  }
  
}

/* IPHONE 4 */
@media screen and (min-width: 320px) and (max-width: 360px){
  .banner {
    min-height: 50vh;
  }
  .banner-text {
    width: 80%;
  }
  .banner-text {
    left: 0%;
    top: 12%;
    width: 100%;
    padding: 0px 25px;
  }
  .banner-text h1 {
    font-size: 25px !important;
  }
  .banner-text h1::before {
    left: 8%;
    top: 70%;
    bottom: -25px;
    height: 3px;
    width: 50px;
  }
  .banner-text p {
    font-size: 14px;
    margin: 26px 0px 0px;
    line-height: 18px;
  }

  /* BIO */
  
  section.bio{
    padding: 25px 15px;
  }
  .bio .container-img {
    height: 250px;
  }
  .bio .primary-img {
    width: 180px;
    height: 180px;
  }
  .bio .text {
    left: 25px;
  }
  .bio .col-md-6 {
    width: 100%;
  }
  .bio .container-text {
    margin-top: 5px;
    height: 240px;
  }
  .bio .text .salam {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .bio .text .intro {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px !important;
  }
  .bio .text .personal-info {
    margin-top: 10px;
    justify-content: left;
  }
  .bio #name {
    font-size: 14px;
    margin-right: 6px;
  }
  .bio #job{
    font-size: 14px;
  }

  .daftar {
    padding: 10px 15px;
  }
  .daftar .underline {
    font-size: 14px !important;
  }

  /* IMPIAN */
  .impian .img-fluid, .bukan-impian .img-fluid, .andai .img-fluid {
    max-width: 100% !important;
  }
  section.impian h4{
    font-size: .9rem !important;
  }
  section.impian .p{
    margin-top: -40px;
  }
  .impian p, .bukan-impian p, .andai p {
    margin-left: 5px;
    line-height: 20px;
  }

  section.bukan-impian {
    padding-top: 0px !important;
  }
  section.bukan-impian h4{
    font-size: 14px !important;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .impian .list, .bukan-impian .list, .andai .list{
    margin-top: 20px;
  }

  .title {
    padding: 20px;
  }
  .title p{
    font-size: 14px !important;
  }

  /* QUOTES */
  section.quote {
    padding: 10px;
    min-height: 45vh;
  }
  section.quote h4{
    margin-top: 20px;
  }
  .single-item {
    width: 100%;
    margin: 20px auto;
  }
  .bubble blockquote {
    margin: 0px 10px 10px;
    padding: 30px;
    font-size: 14px;
    line-height: 17px;
  }
  .bubble blockquote:before, .bubble blockquote:after {
    font-size: 40px;
    padding: 5px;
  }
  .bubble blockquote:before {
    left: 5px;
  }
  .bubble blockquote:after {
    right: 5px;
  }

  /* PRODUK */
  .produk {
    max-width: 60%;
    margin: 0px auto;
  }
  .produk-list p {
    font-size: 12px;
    line-height: 17px;
  } 
  .closeYbox::after, .closeYbox::before {
    width: 15px;
    left: 3.5px;
    top: 10.5px;
  }
  .closeYbox {
    width: 22px;
    height: 22px;
  } 
  .yBoxFrame.yBoxIframeWrap, .yBoxFrame.yBoxImgWrap {
    height: calc(55vh - 80px);
  }
  .yBoxFrame.yBoxIframeWrap .insertYboxAjaxHere, .yBoxFrame.yBoxImgWrap .insertYboxAjaxHere {
    height: calc(55vh - 80px);
  }
  .yBoxFrame {
    max-width: calc(82% - 10px);
  }

  /* CARA */
  .cara .list {
    padding: 15px 10px;
  }
  .cara .title-text {
    margin-bottom: 18px;
  }
  .cara .main-bg{
    max-width: 100%;
  }
  .cara .list ol{
    padding-left: .5rem;
  }
  .cara .list li {
    font-size: 14px;
    line-height: 35px;
  }
  .cara .list li p{
    line-height: 20px;
    margin-left: 5px;
  }
  .cara .download p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .cara .download button {
    font-size: 12px;
    padding: 3px 14px;
    margin: 0px auto;
  }
  .cara .download .note{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 11px;
  }

  /* DISCLAIMER */
  .disclaimer .main-bg, .promosi .main-bg1, .promosi .main-bg2 {
    max-width: 90%;
  }
  .disclaimer .title-text {
    margin-bottom: 20px;
  }
  .disclaimer .container-text {
    padding: 15px;
  }
  .disclaimer .container-text p {
    font-size: 14px;
  }

  .promosi .text1 {
    margin-top: 45px;
    font-size: 14px;
  }
  .promosi .main-bg1, .promosi .main-bg2 {
    max-width: 100%;
    margin: 25px 0px;
    padding: 0px;
  } 
  .promosi .container-text {
    padding: 20px;
  }
  .promosi li {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: unset;
  }
  .promosi .text2 {
    margin-top: 15px;
    font-size: 1Zpx;
  }
  .promosi p{
    font-size: 14px;
    line-height: 20px;
  }
  .promosi .text3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .promosi .desc-title {
    font-size: 1Zpx;
  }

  /* ABOUT */
  section.about {
    padding: 35px 5px;
  }
  .about .items-menu span{
    font-size: 12px;
  }
  .card .card-body {
    padding: 10px 5px;
  }
  .card .card-body .items-about {
    overflow: scroll;
    white-space: nowrap;
    flex-flow: row;
  }
  .card {
    width: 100%;
    border-radius: 5px;
  }
  .card .card-body .items-about .items-menu a {
    padding: 5px 10px;
  }
  .card .img-fluid {
    max-width: 85%;
    margin: 0px auto;
  }
  .card .tab-content {
    padding: 0px 16px;
  }
  .mfp-image-holder .mfp-content {
    max-width: 65%;
  }

  /* FAQ */
  section.faq{
    padding: 40px 15px;
  }
  .faq .accordion {
    max-width: 100%;
    margin-top: 20px;
  }
  section.faq h3 {
    font-size: calc(.9rem + .6vw);
  }
  .accordion-button {
    font-size: 14px;
    line-height: 20px;
    padding: 1rem .5rem;
  }
  .faq .accordion {
    margin-top: 10px;
  }
  .accordion-button::after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
  }
  .accordion-body {
    font-size: 14px;
  }
  .accordion-body {
    padding: 0.6rem 1rem;
  }

  /* FOOTER */
  .footer-logo img {
    max-width: 130px;
  }
  .footer-content {
    padding: 0px 10px;
  }
  .footer-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-widget-heading h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .footer-widget-heading h3::before {
    bottom: -14px;
    width: 40px;
  }
  .footer-section h6{
    font-size: .9rem;
  }
  .footer-content p{
    font-size: 12px;
  }
  .footer-social-icon a {
    font-size: 16px;
    margin-right: 5px;
  }
  .footer-social-icon i {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .footer-widget .email-form{
    margin-top: 10px;
  }
  .footer-widget .email-form input{
    font-size: 14px;
  }
  #contact button {
    font-size: 14px;
  }
}