/* web font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --dark-color: #000000;
  --body-font-family: "Poppins", sans-serif;
  --blue: rgb(34, 56, 87);
  --yellow: rgb(248, 179, 13);
}

* {
  padding: 0px;
  margin: 0px;
}

body,
button,
input,
select,
textarea {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

a,
button,
input {
  font-weight: 600;
}

section {
  padding: 50px 80px;
}

img {
  width: 100%;
  position: relative;
}

.title {
  background-color: var(--blue);
  padding: 30px 80px;
  text-transform: uppercase;
  color: var(--yellow);
  font-size: 22px !important;
}

.title .underline {
  color: var(--yellow);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: inline-block;
  position: relative;
  font-weight: 600;
}
.title .underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--yellow);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.title .underline:hover:after {
  width: 100%;
  left: 0;
}

.title .text-title {
  width: 100%;
}

/* Banner */

.banner {
  position: relative;
  overflow: hidden;
}

.banner-text {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 62%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-text h1 {
  font-size: 35px !important;
  font-weight: normal;
}

.banner-text h1 span {
  font-weight: 600;
}

.banner-img {
  position: relative;
  padding-bottom: 52%;
}

.banner-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
  background: linear-gradient(to top, #000, transparent 90%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* NAVBAR */
.shadow-lg {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.175) !important;
}

.navbar {
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 9;
  background-color: white;
}

.navbar-brand {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 500;
}

.navbar-nav .nav-link {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link::after {
  color: var(--dark-color);
  opacity: 1;
  transform: translateY(0px);
}

.navbar-nav .nav-item.active .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: var(--dark-color);
  background-color: rgb(248, 179, 13);
  border-radius: 5px;
  padding: 8px;
}

.nav-link:focus {
  color: var(--dark-color);
}

/* BIO */
.bio .container-img {
  order: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.bio .container-img > * {
  position: absolute;
}

.bio .bg-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bio .primary-img {
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: center;
}

.bio .primary-img img {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.bio .container-text {
  order: 0;
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
}

.bio .container-text > * {
  position: absolute;
}

.bio .container-text img {
  top: 0;
  left: 50px;
  height: 70px;
}

.bio .text {
  top: 0;
  left: 0;
  font-family: inherit;
  font-weight: 300;
  margin-right: -100px;
}

.bio .text .salam {
  font-size: 25px;
  font-weight: 500;
}

.bio .text .intro {
  font-size: 22px;
}

.bio .curve {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
}

.bio .personal-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
}

.bio #name {
  font-size: 18px;
  color: hsl(240, 38%, 20%);
  font-weight: 700;
  margin-right: 12px;
}

.bio #job {
  font-size: 18px;
  color: hsl(240, 18%, 77%);
}


/* IMPIAN dan BUKAN IMPIAN */

.impian h2, .bukan-impian h2{
  font-weight: 500 !important;
  font-size: 1.7rem !important;
}

.impian p, .bukan-impian p{
  font-size: 18px;
}

.impian .img-fluid, .bukan-impian .img-fluid{
  max-width: 75% !important;
}


/* QUOTE */
.quote .row > * {
  padding: 0px;
}
.quote .container {
  max-width: 70%;
}
.quote .main-bg {
  display: flex;
  background-color: #179ffe;
  box-shadow: 15px 15px 45px 0px rgb(0 0 0 / 30%);
  border-radius: 7px;
}
/* .quote .img {
  width: 220px;
} */

.quote .container-text {
  padding: 50px 40px;
}

.quote .container-text p {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.quote .personal-info {
  display: flex;
  margin-top: 32px;
}

.quote .personal-info p {
  font-size: 18px;
  font-weight: 400;
}

.quote .personal-info #name {
  margin-right: 5px;
}

/* Tentang Kami */
.card {
  margin: 0px auto;
  width: 85%;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
}

.card .card-body {
  padding: 15px;
}

.card .card-body .items-about {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f3;
}

.card .card-body .items-about li {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  list-style: none;
}

.card .card-body .items-about li a {
  display: block;
  padding: 10px 0px;
  color: #4466f2;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.15s ease-in-out;
}

.card .card-body .items-about li a.active {
  color: #ffffff;
  background-color: #4466f2;
}

.card .card-body .items-about li a span.icon {
  display: none;
}

.card .card-body .items-about li a span.text {
  display: block;
}

.card .tab-content {
  padding: 16px;
}

.card .tab-content .tab-pane {
  display: none;
}

.card .tab-content .tab-pane.active {
  display: block;
}

/* Slider About */
.carousel-wrap {
  margin: 20px auto;
  width: 100%;
  padding: 0 10px;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
}

/* end fix */

/* PRODUK */
.produk{
  max-width: 100%;
}
.produk-list{
  background-color: #fff;
}
.produk-list p{
  font-size: 16px;
}

.yBoxImgZoom img{
  background-color: white;
}
.yBoxFrame{
  max-width: calc(30% - 10px);
  background: white;
}
.closeYbox{
  width: 30px;
  height: 30px;
}
.closeYbox::after, .closeYbox::before{
  width: 18px;
  left: 6px;
  top: 14px;
}


/* PREMI */
.premi .img-premi{
  max-width: 45%;
  margin: 0px auto;
}
.premi p{
  font-size: 16px;
}


/* Disclaimer */
.disclaimer .row > * {
  padding: 0px;
}
.disclaimer .container {
  max-width: 70%;
}
.disclaimer .main-bg {
  display: flex;
  background-color: #179ffe;
  box-shadow: 15px 15px 45px 0px rgb(0 0 0 / 30%);
  border-radius: 7px;
}

.disclaimer .container-text {
  padding: 50px 40px;
}

.disclaimer .container-text p {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.disclaimer .personal-info {
  display: flex;
  margin-top: 32px;
}

.disclaimer .personal-info p {
  font-size: 18px;
  font-weight: 400;
}

.disclaimer .personal-info #name {
  margin-right: 5px;
}

/* Promosi */



.promosi .main-bg {
  max-width: 70%;
  display: flex;
  background-color: #179ffe;
  box-shadow: 15px 15px 45px 0px rgb(0 0 0 / 30%);
  border-radius: 7px;
}

.promosi .container-text {
  padding: 30px 20px;
}

.promosi li{
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}

.promosi p{
  font-size: 20px;
}

.promosi .desc-title{
  font-size: 18px;
}
.promosi li{
  display: flex;
}
.promosi i{
  margin-right: 10px;
}

/* FAQ */

.faq .accordion {
  max-width: 65%;
}
.accordion-button {
  font-size: 18px;
}

/* FOOTER */
/* footer */
footer {
  background-color: #222;
}

footer h4 {
  color: #d8d8d8;
  font-weight: 500;
}
footer h6{
  color: #d8d8d8;
}

footer p {
  font-size: 16px;
}

footer li {
  padding-bottom: 4px;
  list-style: none;
}

footer li a {
  font-size: 0.8rem;
  color: #999;
  text-decoration: none;
}

footer li a:hover {
  color: #d8d8d8;
}

footer .footer .fab {
  color: #000;
  height: 40px;
  width: 40px;
  background-color: white;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0px 5px;
}

footer .footer .fab:hover {
  color: white;
  background-color: #fb774b;
  text-decoration: none;
}

footer p {
  color: white;
}

footer .copyright p {
  margin: 0px;
}

@media screen and (max-width: 992px) {
  .mt-4{
    margin-top: 1rem !important;
  }
  .mt-5{
    margin-top: 1.5rem !important;
  }
  .mb-5{
    margin-top: 1.5rem !important;
  }
  .ms-3 {
    margin-left: 0.5rem!important;
  }
  section{
    padding: 35px 50px;
  }

  ul{
    margin: 0;
    padding: 0;
  }
  .banner-text{
    width: 80%;
  }
  .banner-text h1{
    font-size: 27px !important;
  }

  .title{
    padding: 20px 50px;
    font-size: 18px !important;
  }

  /* BIO */
  .bio .container-img {
    height: 390px;
  }
  .bio .primary-img {
    width: 300px;
    height: 300px;
  }
  .bio .container-text {
    height: 220px;
  }
  .bio .text {
    margin-right: -90px;
  }
  .bio .text .salam {
    font-size: 20px;
  }
  .bio .text .intro {
    font-size: 18px;
  }
  .bio .text .mt-4{
    margin-top: 1rem !important;
  }

  /* IMPIAN */
  .impian h2, .bukan-impian h2 {
    font-weight: 500 !important;
    font-size: 1.5rem !important;
  }
  .impian p, .bukan-impian p {
    font-size: 18px;
  }
  .impian .img-fluid, .bukan-impian .img-fluid {
    max-width: 76% !important;
  }

  /* QUOTE */
  .quote .container {
    max-width: 84%;
  }
  .quote .container-text {
    padding: 35px 40px;
  }
  .quote .container-text p {
    font-size: 18px;
  }
  .quote .personal-info {
    margin-top: 25px;
  }
  .quote .personal-info #name,
  .quote .personal-info #job {
    font-size: 18px;
  }

  /* PRODUk */
  .yBoxFrame {
    max-width: calc(60% - 10px);
  }
  .closeYbox {
    width: 40px;
    height: 40px;
  }
  .closeYbox::after, .closeYbox::before {
    width: 25px;
    left: 8px;
    top: 18px; 
  }


  /* PREMI */
  .premi .img-premi {
    max-width: 65%;
  }

  /* DISCLAIMER */
  .disclaimer .container {
    max-width: 84%;
  }
  .disclaimer .container-text {
    padding: 35px 40px;
  }
  .disclaimer .container-text p {
    font-size: 18px;
  }
  .disclaimer .personal-info {
    margin-top: 25px;
  }
  .disclaimer .personal-info #name,
  .disclaimer .personal-info #job {
    font-size: 18px;
  }

  /* PROMOSI */
  .promosi .main-bg {
    max-width: 84%;
  }
  .promosi li, .promosi p {
    font-size: 18px;
  }
  .fa-ul {
    margin-left: 1em;
  }

  /* ABOUT */
  .card {
    width: 100%;
  }
  .about span{
    font-size: 15px;
  }
  .mfp-image-holder .mfp-content {
    max-width: 70%;
  }

  /* FAQ */
  .faq .accordion {
    margin-top: 20px;
    max-width: 100%;
  }
  .accordion-button {
    font-size: 18px;
  }
  .accordion-body {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 35px 70px;
  }
  h4{
    font-size: 1.2rem !important;
  }
  /* BANNER */
  .banner-text {
    width: 70%;
  }
  .banner-text h1 {
    font-size: 20px !important;
  }

  .title {
    padding: 15px 30px;
    font-size: 14px !important;
  }

  /* BIO */

  .bio .row{
    flex-direction: column-reverse;
  }
  .bio .bg-img {
    left: 3%;
    width: 100%;
    height: 88%;
  }
  .bio .primary-img {
    width: 250px;
    height: 250px;
  }
  .bio .container-text {
    margin-top: 30px;
    height: 180px;
  }
  .bio .text {
    margin-right: 0px;
  }

  .bio .text .mt-4 {
    margin-top: 0.7rem !important;
  }
  .bio .text .intro {
    font-size: 14px;
  }
  .bio .personal-info {
    margin-top: 0px;
  }
  .bio #name {
    font-size: 15px;
    margin-right: 8px;
  }
  .bio #job {
    font-size: 15px;
  }
  
  /* IMPIAN DAN BUKAN IMPIAN */
  .impian h2, .bukan-impian h2 {
    font-size: 1.25rem !important;
  }
  .impian p, .bukan-impian p {
    font-size: 14px;
  }
  .impian h3{
    font-size: 20px;
  }
  .impian .img-fluid, .bukan-impian .img-fluid {
    max-width: 60% !important;
  }

  /* QUOTE */
  .quote .container-text p {
    font-size: 15px;
  }
  .quote .personal-info #name, .quote .personal-info #job {
    font-size: 13px;
  }

  /* PRODUK */
  .produk-list h2{
    font-size: 22px;
  }
  .produk-list p {
    font-size: 12px;
  }
  .produk-list .mt-3{
    margin-top: unset !important;
  }
  .yBoxFrame {
    max-width: calc(37% - 10px);
  }
  .closeYbox {
    width: 25px;
    height: 25px;
  }
  .closeYbox::after, .closeYbox::before {
    width: 15px;
    left: 5px;
    top: 12px;
  }

  /* PREMI */
  .premi .img-premi {
    max-width: 50%;
  }
  .premi p {
    font-size: 14px;
  }

  /* DISCLAIMER */
  .disclaimer .container-text {
    padding: 25px 30px;
  }
  .disclaimer .container-text p {
    font-size: 14px;
  }

  /* PROMOSI */
  .promosi li, .promosi p {
    font-size: 14px;
  }
  .promosi .desc-title {
    font-size: 14px;
  }
  .promosi .container-text {
    padding: 20px;
  }

  /* ABOUT */
  .about span {
    font-size: 12px;
  }
  .mfp-image-holder .mfp-content {
    max-width: 30%;
  }

  /* FAQ */
  .accordion-button {
    font-size: 16px;
  }
  .accordion-body {
    font-size: 14px;
  }

  /* FOOTER */
  footer p {
    font-size: 12px;
  }
}
@media screen and (max-width:479px) {
  h4 {
    font-size: 1rem !important;
  } 

  section {
    padding: 20px 30px;
  }
  .banner-img {
    padding-bottom: 55%;
  }
  .banner-text {
    width: 90%;
  }
  .banner-text h1 {
    font-size: 16px !important;
  }
  .title {
    padding: 10px 15px;
    font-size: 14px !important;
  }

  /*  BIO */
  .bio .bg-img {
    left: 5%;
    width: 91%;
    height: 83%;
    top: 1%;
  }
  .bio .primary-img {
    width: 225px;
    height: 225px;
  }
  .bio .text .salam {
    font-size: 18px;
    font-weight: 600;
  }
  .bio .container-text {
    height: 175px;
  }
  .bio .text .intro {
    text-align: justify;
  }


  /* IMPIAN DAN BUKAN IMPIAN */
  section.impian, section.bukan-impian{
    padding: 20px;
  }
  .impian .img-fluid, .bukan-impian .img-fluid {
    max-width: 99% !important;
  }

  /* QUOTE */
  .quote .container {
    max-width: 100%;
  }
  .quote .container-text {
    padding: 20px;
  }
  .quote .container-text p {
    font-size: 14px;
  }
  .quote .personal-info {
    margin-top: 15px;
  }

  /* PRODUK */
  .produk-list h3{
    font-weight: 600;
    font-size: calc(1.1rem + .6vw);
  }
  .yBoxFrame.yBoxImgWrap {
    height: calc(49vh - 80px);
  }
  .yBoxFrame.yBoxIframeWrap .insertYboxAjaxHere, .yBoxFrame.yBoxImgWrap .insertYboxAjaxHere {
    height: calc(100vh - 80px);
  }
  .yBoxImgZoom {
    height: 49%;
  }
  .yBoxFrame {
    max-width: calc(80% - 10px);
  }
  .yBoxFrame.yBoxImgWrap .insertYboxAjaxHere {
    padding: 0px;
  }

  /* PREMI */
  section.premi {
    padding: 20px;
  }
  .premi .img-premi{
    max-width: 100%;
  }

  /* DISCLAIMER */
  .disclaimer .container {
    max-width: 100%;
  }
  .disclaimer .container-text {
    padding: 20px;
  }
  .disclaimer .container-text p {
    font-size: 15px;
  }
  .disclaimer .personal-info {
    margin-top: 15px;
  }

  /* PROMOSI */
  .promosi .main-bg {
    max-width: 100%;
  }
  .promosi .container-text {
    padding: 10px 25px 20px 10px;
  }
  .promosi .container-text p {
    font-size: 14px;
  }
  .promosi .personal-info {
    margin-top: 15px;
  }

  /* ACCORDION */
  .accordion-button {
    font-size: 15px;
    padding: 0.5rem;
  }
  .accordion-body {
    font-size: 13px;
  }

  /* FOOTER */
  footer .container{
    padding: 0px 25px;
  }
  footer .pt-5 {
    padding-top: 2rem!important;
  }
  .footer{
    margin-top: 15px;
  }
}

@media screen and (max-width: 360px) {
  section {
    padding: 10px 20px;
  }
  .mb-5 {
    margin-bottom: 2rem!important;
  }
  h3 {
    font-size: calc(1.1rem + .6vw);
  }
  .banner-text {
    width: 94%;
  }
  .banner-text h1 {
    font-size: 14px !important;
  }

  .title {
    font-size: 13px !important;
    letter-spacing: .1px;
  }

  /* BIO */
  .bio .container-img {
    height: 315px;
  }
  .bio .primary-img {
    width: 200px;
    height: 200px;
    top: 23%;
  }
  .bio .bg-img {
    left: 8%;
    width: 87%;
    height: 87%;
    top: 6%;
  }
  .bio .container-text {
    height: 165px;
  }

  /* IMPIAN DAN BUKAN IMPIAN */
  section.impian, section.bukan-impian {
    padding: 10px;
  }
  .impian .img-fluid, .bukan-impian .img-fluid {
    max-width: 100% !important;
  }

  /* PRODUK */
  .produk-list h3 {
    font-size: calc(1rem + .6vw);
  }
  .produk-list .mb-3 {
    margin-bottom: 0rem!important;
  }

  /* FAQ */
  section.faq {
    padding: 10px 5px;
  }
  .accordion-button {
    font-size: 14px;
    padding: 0.5rem;
  }
  .accordion-body {
    font-size: 14px;
    padding: 1rem;
  } 
}