/* web font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --dark-color: #000000;
  --body-font-family: "Poppins", sans-serif;
  --blue: rgb(34, 56, 87);
  --darkgreen: rgb(22, 92, 90);
  --green: rgb(4, 169, 165);
  --darkyellow: rgb(250, 157, 2);
  --yellow: rgb(240, 191, 0);
}

* {
  padding: 0px;
  margin: 0px;
}

body,
button,
input,
select,
textarea {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

a,
button,
input {
  font-weight: 600;
}

section {
  padding: 55px 80px;
}


img {
  width: 100%;
  position: relative;
}

.daftar .underline {
  font-size: 19px !important;
  color: var(--dark-color);
  text-decoration: none;
  letter-spacing: 0.05em;
  position: relative;
  font-weight: 700;
}


.daftar .underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--dark-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.daftar .underline:hover:after {
  width: 100%;
  left: 0;
}

.title .text-title, .daftar .text-title {
  width: 100%;
}

/* Banner */

.banner {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.banner-img{
  position: absolute;
  background-image: url("../img/banner.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  
}

.banner-text {
  position: absolute;
  z-index: 9;
  top: 30%;
  left: 10%;
  width: 80%;
  text-align: left;
  color: #fff;
}

.banner-text h1 {
  font-size: 45px !important;
  font-weight: 600;
}

.banner-text h1::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 78%;
  bottom: -25px;
  height: 3px;
  width: 60px;
  background: var(--darkyellow);
}

.banner-text h1 span {
  font-weight: 700;
}

.banner-text p{
  font-size: 20px;
  margin: 50px 0px 0px;
  text-transform: capitalize;
}

.overlay {
  background: linear-gradient(45deg,rgb(4, 169, 165), rgb(22, 92, 90));
  opacity: 80%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* NAVBAR */

/* BIO */
.bio{
  background-color: #F6F6F6;
}
.bio .container{
  border-radius: 10px;
  background-color: white;
}
.bio .container .img{
  min-height: 70vh;
  background-color: rgb(22, 92, 90);
  border-radius: 0px 0px 10px 0px;
  text-align: center;
}
.bio .container .img img{
  margin-top: 10%;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #fff;
  object-fit: cover;
}
.bio .container .text{
  padding: 0px 35px;
}
.bio .container .text p{
  margin: 15px 0px 35px;
  font-size: 18px;
}
.bio .container .text .btn{
  background-color: var(--darkyellow);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  width: 150px;
}
.bio .container .text .btn a{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.bio .square-container{
  display: flex;
}

/* SQUARE 1 */

.bio .container .img .square1::before{
  content: '';
  border-top: 67px solid var(--darkyellow);
  border-right: 50px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  right: 7.8%;
  z-index: 10;
  
}
.bio .container .img .square1::after{
  content: '';
  border-bottom: 67px solid var(--darkyellow);
  border-right: 15px solid transparent;
  border-left: 50px solid transparent;
  position: absolute;
  right: 11.4%;
  z-index: 10;
  
}

/* SQUARE 2 */
.bio .container .img .square2::before{
  content: '';
  border-top: 67px solid var(--darkyellow);
  border-right: 50px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  right: 14.2%;
  z-index: 10;
  
}
.bio .container .img .square2::after{
  content: '';
  border-bottom: 67px solid var(--darkyellow);
  border-right: 15px solid transparent;
  border-left: 50px solid transparent;
  position: absolute;
  right: 17.9%;
  z-index: 10;
  
}

/* SQUARE 3 */
.bio .container .img .square3::before{
  content: '';
  border-top: 67px solid var(--darkyellow);
  border-right: 50px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  right: 20.5%;
  z-index: 10;
  
}
.bio .container .img .square3::after{
  content: '';
  border-bottom: 67px solid var(--darkyellow);
  border-right: 15px solid transparent;
  border-left: 50px solid transparent;
  position: absolute;
  right: 24.2%;
  z-index: 10;  
}

.bio .container .img .square1, .bio .container .img .square2, .bio .container .img .square3{
  width: 50px;
  height: 100px;
}


/* IMPIAN dan BUKAN IMPIAN */

.impian h2, .bukan-impian h2, .andai h2{
  font-weight: 500 !important;
  font-size: 1.7rem !important;
}
.impian .list, .bukan-impian .list, .andai .list{
  font-size: 18px;
}

.impian .list .text-primary,
.bukan-impian .list .text-primary
{
  color: #36adab!important;
}

/* IMPIAN */
.impian .list{
  max-width: 600px;
  background-color: var(--darkyellow);
  padding: 30px 25px;
  border-radius: 10px;
  margin: 20px auto;
}

.impian .list .d-inline-flex, .bukan-impian .list .d-inline-flex, .andai .list .d-inline-flex{
  margin-bottom: 10px;
}

.impian .list svg {
  width: 25px;
  height: 25px;
}


/* BUKAN IMPIAN */

.bukan-impian{
  background-color: var(--darkyellow);
}
.bukan-impian .cards{
  background-color: #fff;
  padding: 30px 60px;
  border-radius: 15px;
}
.bukan-impian .list .item{
  margin: 10px 0px;
}
.bukan-impian .text{
  font-size: 20px;
}


/* ANDAI */

.andai{
  background-color: var(--darkgreen);
}
.andai .list{
  background-color: var(--darkyellow);
  padding: 30px 25px;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 75%;
}
.andai .list svg{
  color: #36adab;
}


/* QUOTE */
section.quote{
  background-color: var(--darkgreen);
  min-height: 45vh;
}
.single-item{
  width: 70%;
  z-index: 9;
  left: 14%;
  position: absolute;
}
.bubble blockquote {
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 20px;
	color: #000;
  z-index: 9;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 50px;
	padding: 10px;
	line-height: 1;
	color: #000;
  z-index: 10;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble .cite {
	font-size: .9em;
  font-style: italic;
}


/* BENEFIT */

.benefit{
  background-color: var(--darkyellow);
}
.benefit .cards{
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  margin-top: 20px;
  width: fit-content;
  gap: 10px;

}
.benefit .title {
  font-size: 22px;
  margin-bottom: 30px;
}
.benefit .sub-title p{
  padding: 5px 20px;
  background-color: var(--darkgreen);
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 16px;
  width: fit-content;
}

.benefit ul{
  margin-top: 20px;
}
.benefit ul li{
  font-size: 18px;
  margin-bottom: 5px;
}
.benefit .provider{
  margin-bottom: 30px;
}

.benefit .choose{
  margin-top: 30px;
}
.benefit .choose .sub-title{
  font-size: 24px;
  margin-bottom: 10px;
}
.benefit .choose .coba{
  max-width: fit-content;
}
.benefit .choose .line{
  content: '';
  padding: 5px;
  border-radius: 10px;
  background-color: var(--darkgreen);
}

.benefit .btn{
  background-color: var(--darkgreen);
  padding: 7px 15px;
  border-radius: 10px;
  border: none;
  width: fit-content;
  margin: 0px auto;
}
.benefit .btn a{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}


/* DEFINISI JMA */
section.definisi{
  padding: 0px 80px;
}
.definisi .row{
  align-items: center;
}
.definisi .text .title{
  margin-bottom: 3px;
}
.definisi .text .isi{
  font-size: 18px;
}
.definisi .img{
  padding: 50px;
}
.definisi .text .head{
  margin-bottom: 40px;
  font-size: 24px;
}
.definisi .text .coba{
  max-width: fit-content;
}
.definisi .text .line{
  content: '';
  padding: 4px;
  border-radius: 10px;
  background-color: var(--darkyellow);
  margin-bottom: 20px;
}


/* CARA KERJA */

.kerja .title{
  background-color: var(--darkgreen);
  width: fit-content;
  padding: 15px 30px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.kerja .img{
  background-color: #3b435f;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;
}
.kerja .img img{
  width: 80px;
  left: 18%;
  top: 18%;
}
.kerja .cards{
  display: contents;
}
.kerja .content{
  padding: 10px 20px;
}
.kerja .content p{
  font-weight: bold;
  font-size: 16px;
}
.kerja .cards .img .tangan{
  top: 26%;
}
.kerja .cards .img .polis{
  top: 10%;
}
.kerja .bawah{
  margin-top: 10px;
}

/* chevron */
.kerja .cards .arrow{
  position: relative;
  top: 20%;
}
.kerja .cards .arrow-bottom{
  position: relative;
  left: 40%;
  color: var(--darkyellow);
}

.kerja .cards .arrow svg{
  color: var(--darkyellow);
}

.kerja .coba{
  display: flex;
}


/* DOWNLOAD */
.download{
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-image: url("../img/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}
.download .overlay{
  background: linear-gradient(45deg,#fff, #fff);
  opacity: 80%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.download .text {
  margin-top: 10%;
}
.download .content p{
  margin-bottom: 30px;
  font-size: 20px;
}
.download .content .btn{
  padding: 10px 15px;
  background-color: var(--darkgreen);
  font-size: 18px;
  border-radius: 10px;
  width: fit-content;
  margin: 0px auto 60px;
}
.download .main-content{
  text-align: center;
}
.download .main-content .line {
  content: '';
  padding: 5px;
  width: 40%;
  border-radius: 10px;
  background-color: var(--darkyellow);
  margin: 0px auto 30px;
}
.download .main-content p {
  font-size: 24px;
  width: 45%;
  margin: 0px auto 60px;
  line-height: normal;
}
.download .main-content .line{
  content: '';
  padding: 5px;
  width: 38%;
  border-radius: 10px;
  background-color: var(--darkyellow);
}
.download .button{
  width: max-content;
}
.download .button .btn {
  background-color: var(--darkyellow);
  border-radius: 8px;
  font-size: 24px;
  padding: 10px 20px;
}
.download .button .btn{
  background-color: var(--darkyellow);
  width: fit-content;
  border-radius: 8px;
  font-size: 20px;
}

/* QUESTION */
.question{
  padding: 60px 0px;
}
.question .content{
  font-size: 20px;
  width: 90%;
}
.question .list {
  width: 55%;
  margin: 50px auto 0px;
  background-color: var(--darkgreen);
  padding: 30px 30px;
  border-radius: 10px;
}
.question .list ul {
  padding-left: unset;
}
.question .list ul li{
  font-size: 18px;
  margin-bottom: 5px;
  list-style: none;
}


/* layanan */
.layanan{
  padding: 60px 0px;
  background-color: var(--darkyellow);
}
.layanan .content:nth-child(1){
  font-size: 28px;
  margin-bottom: 30px;
}
.layanan .content:nth-child(2){
  margin: 0px auto;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}
.layanan .content:nth-child(3){
  font-size: 20px;
  padding: 0px 25px;
}
.layanan .list{
  width: 65%;
  margin: 50px auto 0px;
  background-color: var(--darkgreen);
  padding: 30px 25px;
  border-radius: 10px;
}
.layanan .list ul{
  margin: 0;
}
.layanan .list ul li{
  font-size: 18px;
  margin-bottom: 5px;
}


/* Tentang Kami */
/* Tentang Kami */
section.about{
  background-color: var(--darkyellow);
  padding: 100px 80px;
}

.about .container{
  padding: 0;
}

.about .bg{
  max-width: 60%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 7px;
  background-color: #fff;
}

.card {
  margin: auto;
  width: 60%;
  position: relative;
  background-color: unset;
  border-radius: unset !important;
  border: unset;
  box-shadow: unset;
}

.card .card-body {
  padding: 15px;
}

.about .items-about {
  align-items: center;
  display: flex;
  border-bottom: unset;
  background-color: var(--darkgreen);
  margin-bottom: 10px;
}

.about .items-about .items-menu:hover{
  background-color: var(--green);
}

.about .items-about .items-menu {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  list-style: none;
}

.about .items-about .items-menu a {
  display: block;
  padding: 10px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.15s ease-in-out;
}

.about .items-about .items-menu a.active {
  color: #fff;
  background-color: var(--darkgreen);
}


.about .items-about .items-menu a span.text {
  display: block;
}

.card .tab-content {
  padding: 16px;
}

.card .tab-content .tab-pane {
  display: none;
}

.card .tab-content .tab-pane.active {
  display: block;
}

.card .owl-theme .owl-nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
  font-size: 80px;
}
.owl-carousel .owl-nav button.owl-prev{
  position: absolute;
  top: 25%;
}
.owl-carousel .owl-nav button.owl-next{
  position: absolute;
  top: 25%;
  right: 0%;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
  color: unset;
  text-decoration: none;
}

/* Slider About */
.carousel-wrap {
  margin: 20px auto;
  width: 100%;
  padding: 0 10px;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
}

.owl-carousel .owl-item img {
  display: block;
  width: 50%;
  margin: auto;
}


/* end fix */

/* PRODUK */
.produk{
  max-width: 100%;
}
.produk-list{
  background-color: #fff;
}
.produk-list p{
  font-size: 16px;
}

.yBoxImgZoom img{
  background-color: white;
}
.yBoxFrame{
  max-width: calc(30% - 10px);
  background: white;
}
.yBoxImgZoom {
  background: #fff;
}
.closeYbox{
  width: 30px;
  height: 30px;
}
.closeYbox::after, .closeYbox::before{
  width: 18px;
  left: 6px;
  top: 14px;
}

/* CARA KERJA */
section.cara{
  color: #f6f6f6;
  background-color: var(--darkgreen);
}
.cara .main-bg {
  max-width: 60%;
  display: flex;
  background-color: var(--darkyellow);
  box-shadow: 15px 15px 45px 0px rgb(0 0 0 / 30%);
  border-radius: 7px;
}

.cara .list {
  padding: 25px 30px;
}

.cara .title-text{
  margin-bottom: 25px;
}

.cara .list li {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.cara .note p{
  font-size: 16px;
}

.cara .download p{
  font-size: 18px;
  font-weight: 500;
}

.cara .download button{
  background-color: var(--darkyellow);
  color: #000;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  border: transparent;
  font-weight: 700;
}

/* Disclaimer and Promosi*/

.disclaimer .row > * {
  padding: 0px;
}
.disclaimer .main-bg,.promosi .main-bg1, .promosi .main-bg2 {
  max-width: 60%;
  display: flex;
  background-color: var(--darkgreen);
  box-shadow: 8px 8px 45px 0px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.container-text {
  padding: 25px 30px;
}

.disclaimer .title-text{
  margin-bottom: 30px;
}

.disclaimer .container-text p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

/* Promosi */

.promosi .main-bg1, .promosi .main-bg2 {
  max-width: 70%;
  margin: 40px 0px;
}

.promosi .main-bg2{
  margin-bottom: 20px;
}

.fa-ul{
  margin: 0px;
}

.promosi li{
  font-size: 18px;
  color: #fff;
}

.promosi .text1{
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
}

.promosi .text2{
  margin-top: 30px;
}

.promosi .text2 span{
  font-weight: 600;
}

.promosi .text3{
  font-weight: 600;
  margin-top: 30px;
  font-size: 22px;
}

.promosi p{
  font-size: 18px;
}

.promosi li{
  display: flex;
}
.promosi i{
  margin-right: 10px;
}

/* FAQ */

.faq .accordion {
  max-width: 65%;
}
.accordion-button {
  font-size: 18px;
}
.accordion-button:not(.collapsed) {
  color: var(--darkgreen);
  background-color: rgb(244, 255, 255);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* FOOTER */
.footer-section {
  background: #151414;
  position: relative;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 10px;
}
.footer-logo img {
    max-width: 140px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.instagram-bg{
  background: #DD4B39;
}
.linkedin-bg{
  background: #55ACEE;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul{
  padding: 0px;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
  color: #7e7e7e;
}
fieldset {
	border: medium none !important;
	margin: 0 0 5px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	margin:0 0 5px;
  background: #151414;
	padding:10px;
  font-weight: 500;
  color: #e7f1ff;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover {
  transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}


#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button {
	cursor:pointer;
	width:100%;
	border:none;
	background:var(--darkgreen);
	color:#FFF;
	margin:0 0 5px;
	padding:5px;
	font-size:15px;
}

#contact button:hover {
	background:var(--green);
	transition:background-color 0.3s ease-in-out;
}

.footer-content p{
  color: #7e7e7e;
}


/* TABLET */
@media screen and (max-width: 800px) {
  h4 {
    font-size: 1.5rem !important;
  }
  .mb-2, .mb-3, .mb-4, .mb-5{
    margin-bottom: unset !important;
  }
  .mt-3, .mt-4, .mt-5{
    margin-top: unset !important;
  }
  .ms-3{
    margin-left: unset !important;
  }

  /* BANNER */
  .banner {
    position: relative;
    overflow: hidden;
    min-height: unset;
    padding-bottom: 75%;
  }
  .banner-text {
    top: 22%;
    left: 8%;
  }
  .banner-text h1 {
    font-size: 40px !important;
  }
  .banner-text h1::before {
    top: 73%;
  }
  .banner-text p {
    font-size: 20px;
  }

  section{
    padding: 50px 40px;
  }
  
  /* BIO */
  section.bio {
    padding: 60px 80px;
  }
  section.bio .row{
    flex-direction: column-reverse;
  }
  .bio .container .img {
    border-radius: 0px 0px 0px 0px;
  }
  .bio .container .text {
    padding: 50px 35px;
  }
  .bio .col-md-6 {
    width: 100%;
  }
  .bio .container-text {
    margin-top: 40px;
  }
  .bio .cards{
    display: inline-block;
  }
  .bio .cards .img img{
    width: 200px !important;
    margin-top: 5%;
  }
  .bio .container .text p {
    font-size: 17px;
  }
  .bio .container .text .btn {
    padding: 10px 0px;
  }
  .bio .container .text .btn a {
    font-size: 17px;
  }
  
  /* SQUARE */

  .bio .container .img .square1::before {
    right: 9.99%;
  }
  .bio .container .img .square1::after {
    right: 16.18%;
  }

  .bio .container .img .square2::before {
    right: 21.2%;
  }
  .bio .container .img .square2::after {
    right: 27.43%;
  }

  .bio .container .img .square3::before {
    right: 32.5%;
  }
  .bio .container .img .square3::after {
    right: 38.6%;
  }

  /* IMPIAN */
  .impian .list, .bukan-impian .list, .andai .list{
    font-size: 17px;
  }


  /* BUKAN IMPIAN */
  .bukan-impian .text{
    font-size: 18px;
  }
  .bukan-impian .cards .list{
    margin-top: 20px;
    
  }

  /* QUOTES */
  section.quote {
    padding: 10px;
    min-height: 40vh;
  }
  section.quote h4{
    margin-top: 20px;
  }
  .single-item {
    width: 85%;
    margin: 20px auto;
    left: 7%;
  }
  .bubble blockquote {
    margin: 0px 10px 10px;
    padding: 30px 45px;
    font-size: 18px;
    line-height: 28px;
  }
  .bubble blockquote:before, .bubble blockquote:after {
    font-size: 60px;
    padding: 5px;
  }
  .bubble blockquote:before {
    left: 5px;
  }
  .bubble blockquote:after {
    right: 5px;
  }
  .bubble .cite {
    font-size: 1.2em;
  }

  
  /* DEFIINISI */
  section.definisi {
    padding: 50px 80px;
  }
  .definisi .row {
    flex-direction: column-reverse;
  }
  .definisi .img {
    margin-top: 40px;
    display: flex;
    padding: unset;
  }
  .definisi .img img {
    width: 50%;
    position: relative;
  }
  .definisi .text .title {
    margin-bottom: 15px;
  }
  .definisi .text .isi {
    font-size: 17px;
  }

  /* BENEFIT */
  
  .benefit .cards {
    margin-top: 30px;
    padding: 30px 10px;
  }
  .benefit .cards .gap{
    column-gap: 5px;
  }
  .benefit ul {
    margin-top: 15px;
    padding-left: 1.7rem;
  }
  .benefit ul li {
    font-size: 16px;
  }
  .benefit .btn a {
    font-size: 17px;
  }

  
  /* KERJA */

  .kerja .content {
    padding: 10px;
  }
  .kerja .container .row{
    justify-content: center;
    justify-items: center;
  }
  .kerja .content p {
    font-size: 16px;
  }
  .kerja .row{
    display: grid;
  }
  .kerja .coba{
    display: flex;
    justify-items: center;
    width: fit-content;
    flex-direction: column;
    align-items: center !important;
  }
  .kerja .cards .arrow {
    position: relative;
    top: unset;
  }
  .kerja .cards .arrow-right{
    transform: rotate(90deg);
    width: fit-content;
  }
  .kerja .cards .arrow-left{
    transform: rotate(270deg);
    width: fit-content;
  }
  .kerja .bawah{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .kerja .bawah .coba:nth-of-type(1),
  .kerja .bawah .coba:nth-of-type(2),
  .kerja .bawah .coba:nth-of-type(3) {
    flex-direction: column-reverse;
  }


  /* QUESTION */

  .question .content {
    font-size: 20px;
    width: 93%;
  }
  .question .list {
    width: 70%;
  }


  /* LAYANAN */

  .layanan .content {
    font-size: 18px;
  }
  .layanan .list {
    width: 75%;
  }
  .layanan .content:nth-child(1) {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .layanan .content:nth-child(2) {
    margin: 0px auto;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .layanan .content:nth-child(3) {
    font-size: 18px;
    padding: 0px 25px;
  }
  .layanan .list {
    padding: 25px 15px;
    margin: 20px auto 0px;
  }
  .layanan .list ul li {
    font-size: 16px;
  }


  /* DOWNLOAD */
  .download {
    background-repeat: no-repeat;
    background-size: contain;
  }
  .download .text {
    margin-top: 6%;
  }
  .download .content {
    padding: 25px;
    margin: 0px auto;
    font-size: 17px;
    max-width: 90%;
  }
  .download .content .btn {
    margin: 0px auto;
  }
  .download .main-content .line {
    width: 38%;
    margin: 0px auto 20px;
  }
  .download .main-content p {
    font-size: 18px;
    margin: 0px auto 35px;
  }
  .download .button .btn {
    font-size: 17px;
    padding: 15px 20px;
  }


  /* QUESTION */

  .question {
    padding: 0px 0px 50px;
  }
  .question .content {
    font-size: 18px;
    width: 100%;
  }
  .question .list {
    margin: 30px auto 0px;
    padding: 25px 15px;
    border-radius: 10px;
  }
  
  .question .list ul li {
    font-size: 16px;
  }


  

  /* ABOUT */
  section.about {
    padding: 35px 5px;
  }
  .about .items-menu span{
    font-size: 15px;
  }
  .card .card-body {
    padding: 10px 5px;
  }
  .card .card-body .items-about {
    overflow: scroll;
    white-space: nowrap;
    flex-flow: row;
  }
  .card {
    width: 100%;
    border-radius: 5px;
  }
  .card .card-body .items-about .items-menu a {
    padding: 10px;
  }
  .card .img-fluid {
    max-width: 95%;
    margin: 0px auto;
  }
  .card .tab-content {
    padding: 0px 16px;
  }
  .mfp-image-holder .mfp-content {
    max-width: 65%;
  }
  .about .slider-nav::after, .slider-nav::before {
    width: 3rem;
    height: 3rem;
  }
  .about .bg {
    max-width: 55%;
  }
  

  /* FOOTER */
  .footer-logo img {
    max-width: 180px;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-content {
    padding: 0px 10px;
  }
  .footer-widget-heading h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .footer-widget-heading h3::before {
    bottom: -14px;
    width: 40px;
  }
  .footer-text p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .footer-section h6{
    font-size: 1.2rem;
  }
  .footer-content p{
    font-size: 16px;
    margin-top: 15px;
  }
  .footer-social-icon a {
    font-size: 25px;
    margin-right: 5px;
  }
  .footer-social-icon i {
    width: 45px;
    height: 45px;
    line-height: 43px;
  }
  .footer-widget .email-form{
    margin-top: 10px;
  }
  .footer-widget .email-form input{
    font-size: 16px;
  }
  #contact button {
    font-size: 16px;
  }

}

/* MOBILES */
@media screen and (max-width: 480px) {
  
  section{
    padding: 35px 15px;
  }
  .banner {
    min-height: 50vh;
  }
  .banner-text {
    padding: 45px 30px 0px;
    top: unset;
    left: unset;
    width: 100%;
  }
  .banner-text h1 {
    font-size: 32px !important;
  }
  .banner-text h1::before {
    /* content: unset; */
    top: 74%;
    left: 8%;
    width: 50px;
  }
  .banner-text p {
    font-size: 16px;
    margin: 30px 0px 0px;
  }

  /* BIO */
  section.bio{
    padding: 25px 15px;
  }

  .bio .container .img {
    min-height: fit-content;
    padding-bottom: 50px;
  }

  .bio .container .text {
    padding: 40px 20px;
  }

  .bio .cards .img img {
    width: 160px !important;
    height: 160px !important;
    margin-top: 5%;
  }

  .bio .container .img .square1::before {
    right: 4%;
  }
  .bio .container .img .square1::after {
    right: 16%;
  }

  .bio .container .img .square2::before {
    right: 23.2%;
  }
  .bio .container .img .square2::after {
    right: 35.3%;
  }

  .bio .container .img .square3::before {
    right: 42.5%;
  }
  .bio .container .img .square3::after {
    right: 54.5%;
  }

  
  /* IMPIAN */
  .impian .list, .bukan-impian .list, .andai .list {
    font-size: 16px;
  }
  .impian p, .bukan-impian p, .andai p {
    margin-left: 5px;
    line-height: 20px;
  }
  .impian .list {
    padding: 20px 15px;
  }


  /* BUKAN IMPIAN */

  .bukan-impian .cards {
    padding: 20px 15px;
  }
  .bukan-impian .text {
    font-size: 17px;
  }

  /* SURVEY */

  .survey{
    font-size: 16px;
    padding: 50px 15px;
  }


  /* ANDAI */

  .andai .list {
    padding: 15px;
    margin: 30px 0px 0px;
    max-width: 100%;
}


  /* QUOTES */

  .single-item {
    width: 100%;
    left: 0%;
  } 

  /* QUOTES */
  section.quote {
    padding: 10px;
    min-height: 30vh;
  }
  section.quote h4{
    margin-top: 20px;
  }
  .bubble blockquote {
    margin: 0px 15px 10px;
    padding: 30px;
    font-size: 16px;
    line-height: 17px;
  }
  .bubble blockquote:before, .bubble blockquote:after {
    font-size: 40px;
    padding: 5px;
  }
  .bubble blockquote:before {
    left: 5px;
  }
  .bubble blockquote:after {
    right: 5px;
  }


  /* DEFINISI */
  section.definisi {
    padding: 40px 10px;
  }
  .definisi .text .isi {
    font-size: 17px;
  }
  .definisi .text .head {
    margin-bottom: 30px;
    font-size: 20px;
  }


  /* BENEFIT */

  .benefit .cards {
    padding: 20px 10px;
  }
  .benefit .cards .d-flex{
    display: grid !important;
  }
  .benefit ul li {
    margin-bottom: 3px;
  }

  .benefit .choose .sub-title {
    font-size: 18px;
    margin-bottom: 5px;
  }


  /* CARA KERJA */

  .kerja .title {
    padding: 15px 20px;
  }
  .kerja .container .row {
    justify-content: center;
  }
  .kerja .content {
    padding: 10px 20px;
  }

  /* DOWNLOAD */

  .download {
    min-height: fit-content;
    background-color: #f6f6f6;
    background-image: unset;
  }
  .download .overlay {
    opacity: 0%;
  }
  .download .text {
    margin: 12% 0px;
  } 
  .download .content {
    padding: 20px;
    max-width: 100%;
    width: 95%;
  }   
  .download .main-content .line {
    width: 55%;
  }
  .download .main-content p {
    width: 65%;
    margin: 0px auto 40px;
  }
  .download .button .btn {
    padding: 10px 20px;
  }
  .download .content .btn {
    margin: 0px auto 0px;
}

  /* QUESTION */

  .question {
    padding: 35px 15px;
  }
  .question .content {
    font-size: 17px;
  }
  .question .list {
    width: 100%;
    margin: 25px auto 0px;
  }

  /* LAYANAN */

  .layanan {
    padding: 40px 10px;
  }
  .layanan .content:nth-child(1) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .layanan .content:nth-child(2) {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .layanan .content:nth-child(3) {
    font-size: 17px;
    padding: unset;
  }
  .layanan .list {
    width: 100%;
    padding: 20px 10px;
  }

  /* ABOUT */
  section.about {
    padding: 35px 5px;
  }
  .about .items-menu span {
    font-size: 14px;
  }
  .card .card-body {
    padding: 10px 5px;
  }
  .card .card-body .items-about {
    overflow: scroll;
    white-space: nowrap;
    flex-flow: row;
  }
  .card {
    width: 100%;
    border-radius: 5px;
  }
  .about .bg {
    max-width: 75%;
  }
  .card .card-body .items-about .items-menu a {
    padding: 5px 10px;
  }
  .card .img-fluid {
    max-width: 100%;
    margin: 0px auto;
  }
  .card .tab-content {
    padding: 0px 16px;
  }
  .mfp-image-holder .mfp-content {
    max-width: 100%;
  }

  /* FOOTER */
  .footer-logo img {
    max-width: 140px;
  }
  .footer-content {
    padding: 0px 10px;
  }
  .footer-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-widget-heading h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .footer-widget-heading h3::before {
    bottom: -14px;
    width: 40px;
  }
  .footer-section h6{
    font-size: .9rem;
  }
  .footer-content p{
    font-size: 12px;
  }
  .footer-social-icon a {
    font-size: 16px;
    margin-right: 5px;
  }
  .footer-social-icon i {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .footer-widget .email-form{
    margin-top: 10px;
  }
  .footer-widget .email-form input{
    font-size: 14px;
  }
  #contact button {
    font-size: 14px;
  }
  
}

/* IPHONE 4 */
@media screen and (min-width: 320px) and (max-width: 360px){
  section{
    padding: 35px 10px;
  }
  .banner {
    min-height: 50vh;
  }
  .banner-text {
    width: 80%;
  }
  .banner-text {
    left: 0%;
    top: 12%;
    width: 100%;
    padding: 0px 25px;
  }
  .banner-text h1 {
    font-size: 25px !important;
  }
  .banner-text h1::before {
    left: 8%;
    top: 70%;
    bottom: -25px;
    height: 3px;
    width: 50px;
  }
  .banner-text p {
    font-size: 15px;
    margin: 26px 0px 0px;
    line-height: 18px;
  }

  /* BIO */
  
  section.bio{
    padding: 25px 15px;
  }
  .bio .cards .img img {
    width: 135px !important;
    height: 135px !important;
  }
  .bio .container .text {
    padding: 30px 10px;
  }
  .bio .container .text p {
    margin: 15px 0px 25px;
    font-size: 13px;
  }
  .bio .container .text .btn {
    padding: 7px 0px;
  }
  .bio .container .img .square1::before {
    right: 4.3%;
  }
  .bio .container .img .square1::after {
    right: 17.92%;
  }
  .bio .container .img .square2::before {
    right: 25%;
  }
  .bio .container .img .square2::after {
    right: 38.6%;
  }
  .bio .container .img .square3::before {
    right: 46%;
  }
  .bio .container .img .square3::after {
    right: 59.86%;
  }

  /* IMPIAN */

  .impian p, .bukan-impian p, .andai p {
    margin-left: 5px;
    line-height: unset;
  }
  .impian .list{
    font-size: 14px;
  }
  
  .bukan-impian .list, .andai .list {
    font-size: 13px;
  }

  /* BUKAN IMPIAN */

  .bukan-impian .text {
    font-size: 14px;
  }

  /* ANDAI */
  .andai h4 {
    font-size: 1.2rem !important;
  }

  /* SURVEY */

  .survey {
    font-size: 14px !important;
    padding: 50px 15px;
  }
  
  /* QUOTES */
  section.quote {
    padding: 10px;
    min-height: 35vh;
  }
  section.quote h4{
    margin-top: 20px;
  }
  .single-item {
    width: 100%;
    margin: 20px auto;
  }
  .bubble blockquote {
    margin: 0px 10px 10px;
    padding: 30px;
    font-size: 14px;
    line-height: 17px;
  }
  .bubble blockquote:before, .bubble blockquote:after {
    font-size: 40px;
    padding: 5px;
  }
  .bubble blockquote:before {
    left: 5px;
  }
  .bubble blockquote:after {
    right: 5px;
  }

  /* DEFINISI */

  .definisi .text .isi {
    font-size: 13px;
  } 
  .definisi .text .head {
    margin-bottom: 25px;
    font-size: 18px;
  }

  /* BENEFIT */

  .benefit ul li {
    font-size: 14px;
  }
  .benefit .choose .sub-title {
    font-size: 16px;
  }

  /* CARA KERJA */
  .kerja .title{
    width: 100%;
    padding: 15px 0px;
  }
  .kerja .title h3{
    font-size: calc(1.1rem + .6vw);
    text-align: center;
  }
  .kerja .container{
    padding: 0px;
  }
  .kerja .content p {
    font-size: 12px;
  }

  /* DOWNLOAD */

  section.download{
    padding: 35px 0px;
  }
  .download .text {
    margin: 5% 0px;
  }
  .download .content{
    padding: 15px;
    width: 100%;
    margin: 0px auto 30px;
    font-size: 15px;
  }
  .download .content p {
    font-size: 14px;
  }
  .download .main-content .line {
    width: 60%;
  }
  .download .main-content p {
    width: 65%;
    margin: 0px auto 30px;
    font-size: 15px;
  }
  .download .button {
    width: fit-content;
  }
  .download .button .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  /* QUESTION */
  .question {
    padding: 30px 10px;
  }
  .question .content {
    font-size: 16px;
  }
  .question .list {
    margin: 20px auto 0px;
    padding: 15px 10px;
  }
  .question .list ul li {
    font-size: 14px;
  }

  /* LATANAN */
  .layanan {
    padding: 30px 10px;
  }
  .layanan .content:nth-child(1) {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .layanan .content:nth-child(2) {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .layanan .content:nth-child(3) {
    font-size: 15px;
  }
  .layanan .list {
    width: 100%;
    padding: 15px 5px;
  }
  .layanan .list ul li {
    font-size: 14px;
  }
  
  /* ABOUT */
  section.about {
    padding: 35px 5px;
  }
  .about .items-menu span{
    font-size: 12px;
  }
  .card .card-body {
    padding: 10px 5px;
  }
  .card .card-body .items-about {
    overflow: scroll;
    white-space: nowrap;
    flex-flow: row;
  }
  .card {
    width: 100%;
    border-radius: 5px;
  }
  .card .card-body .items-about .items-menu a {
    padding: 5px 10px;
  }
  .about .bg {
    max-width: 70%;
  }
  .about .slider-nav::after, .slider-nav::before {
    width: 2rem;
    height: 2rem;
  }
  .card .tab-content {
    padding: 0px 16px;
  }

  
  /* FOOTER */
  .footer-logo img {
    max-width: 130px;
  }
  .footer-content {
    padding: 0px 10px;
  }
  .footer-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-widget-heading h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .footer-widget-heading h3::before {
    bottom: -14px;
    width: 40px;
  }
  .footer-section h6{
    font-size: .9rem;
  }
  .footer-content p{
    font-size: 12px;
  }
  .footer-social-icon a {
    font-size: 16px;
    margin-right: 5px;
  }
  .footer-social-icon i {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .footer-widget .email-form{
    margin-top: 10px;
  }
  .footer-widget .email-form input{
    font-size: 14px;
  }
  #contact button {
    font-size: 14px;
  }
}